.pic-card
  background-color: $light-gray
  color: $hot-pink


#images
  @media (min-width:40em)
    .sm-col:nth-child(n+2)
      clear: both
  @media (min-width:52em)
    .sm-col:nth-child(n+3)
      clear: both
  @media (min-width:64em)
    .sm-col:nth-child(n+4)
      clear: both
